.loader-body {
    stroke-dasharray: 2179;
    stroke-dashoffset: 2179;
    animation: moveLoaderBody 7s linear forwards infinite;
}

.loaderBodyGradientStop1 {
    stop-color: #8fb9e1;
}

.loaderBodyGradientStop2 {
    stop-color: #654c9c;
}


@keyframes moveLoaderBody {
    to {
        stroke-dashoffset: -2179;
    }
}
