.layout {
    transform: rotate(90deg);
    position: relative;
    top: 10px;
}

.box {
    border: 5px solid #000;
    width: 94px;
    height: 94px;
    margin: 0 auto;
}

.shake {
    animation: shake 1.5s cubic-bezier(.36,.07,.19,.97) infinite;
    transform: translate3d(90deg, 0, 0) rotate(90deg);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    0% {
        transform: translate3d(0, 0, 0) rotate(90deg);
    }
    70% {
        transform: translate3d(0, 9px, 0) rotate(90deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(90deg);
    }
}
