.layout {
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 1px;
}

.none-bottom {
    margin-bottom: 0;
}

.small {
    font-size: 24px;
}

.medium {
    font-size: 56px;
}

.large {
    font-size: 72px;
}

.uppercase {
    text-transform: uppercase;
}
