* {
    box-sizing: border-box;
}

body {
    height: 1080px;
    width: 1920px;
    margin: 0;
    background: #000;
    color: #000;
    font-family: "Azo Sans", sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.layout {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.background {
    position: absolute;
    left: 76px;
    top: 76px;
    width: 1766px;
    height: 930px;
    background: #fff;
    z-index: 9998;
    text-align: center;
}

.transition {
    height: 100%;
}

.help-icon-container {
    position: fixed;
    z-index: 9999;
    top: 50%;
    right: 0;
    height: 120px;
    width: 120px;
    margin-top: -60px;
}

.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background: rgba(#000, .75);
    z-index: 0;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.overlay-active {
    z-index: 10000;
    opacity: 1;
}
