.container {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 250px;
}

.button-container {
    margin-top: 105px;
    margin-bottom: 118px;
}

.link-container {
    margin-top: 40px;
}
