.button {
    width: 146px;
    height: 71px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    display: inline-block;
    border-radius: 8px;
    font-size: 32px;
    background: transparent;
    border: 2px solid #000;
    // transition: background .2s ease-in-out;
    &:focus {
        outline: 0;
    }
    &:active {
        background: #5392be;
        color: #fff;
        border: 2px solid #5392be;
    }
}
