.container {
    position: absolute;
    width: 100%;
}

.pinpad-container, .pinpad-message-container {
    position: relative;
    width: 50%;
    float: left;
}

.pinpad-message-container {
    display: table;
    height: 702px;
    border-right: 1px solid #000;
    margin-top: 114px;
    h1 {
        font-weight: 400;
        font-size: 56px;
        display: table-cell;
        vertical-align: middle;
    }
}
