.layout {
    text-align: center;
    p {
        margin: 0;
        font-weight: 300;
        font-size: 40px;
        line-height: 54px;
    }
}

.headline {
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-size: 72px;
    text-transform: uppercase;
}
