.layout {
    text-align: center;
    p {
        margin: -30px 0 0 0;
        font-weight: 300;
        font-size: 40px;
        line-height: 54px;
        &.large {
            margin-top: 60px;
        }
    }
}
