.layout {
    span {
        vertical-align: middle;
        font-weight: 400;
        text-align: center;
        &:nth-child(1) {
            font-size: 200px;
            font-weight: 300;
        }
        &:nth-child(2) {
            font-size: 24px;
            text-transform: uppercase;
            font-weight: 500;
            margin-left: -10px;
            margin-right: 18px;
        }
        &:nth-child(3) {
            font-size: 72px;
        }
    }
}
